{{! thiss will display the list of students in a table format }}
<h3><a href="/student" class="btn btn-secondary">Create New</a>Student List</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>City</th>

    </tr>

  </thead>
  <tbody>
    {{#each list}}
      <tr>
        <td>{{this.fullName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>

        <td>{{this.city}}</td>
        <td>
          <a
            href="/student/{{this._id}}"
            class="btn btn-primary btn-sm"
          >Edit</a>
          <!-- Fixed the edit link -->
          <a
            href="/student/delete/{{this._id}}"
            class="btn btn-danger btn-sm"
          >Delete</a>
          <!-- Fixed the delete link -->
        </td>

      </tr>
    {{/each}}
  </tbody>
</table>